/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 @font-face {
     font-family: 'Lora-Regular';
     src:font-url('Lora-Regular.ttf') format('truetype');
 }
 @font-face {
     font-family: 'Muli-Regular';
     src:font-url('Muli-Regular.ttf') format('truetype');
 }
 @font-face {
     font-family: 'Lato-Regular';
     src:font-url('Lato-Regular.ttf') format('truetype');
 }
 @font-face {
     font-family: 'BreeSerif-Regular';
     src:font-url('BreeSerif-Regular.ttf') format('truetype');
 }



  //navbar
    .nav-top1 .navbar-header a:hover,
    .nav-top1 .navbar-header a:focus{
        color:#00BCD4;
    }

    .navbar-nav .dropdown-menu{
      background-color: #4E342E;
    }

    .navbar-nav .dropdown-menu a{
      font-size: 12px;
    }

    #nav-spacer1{
      margin:60px;
    }
 .navbar {
       font-family: Montserrat, sans-serif;
       height: 1cm;
       background-color: #212121;
       border: 0;
       border-radius: 0;
       font-size: 12px ;
       letter-spacing: 4px;
       opacity: 0.9;

   }

.navbar .navbar-header a {
    color:#F5F5F5;
    font-size: 20px
}

.navbar .navbar-nav li>a{
    color:#F5F5F5;
    font-family: 'Lora-Regular';
    margin-right: 10px;
}

.navbar .navbar-nav li>a:hover,
.navbar .navbar-nav li>a:focus{
    color:#00BCD4;

}


.logo h1{
    font-family: 'Lora-Regular';
    text-align: center;
    color:#212121;
    margin-top:70px;
    margin-bottom: -5px;

}



.line{
    height: 1px;
    width: 100%;
    background-color: #D7CCC8;
    margin-bottom: 20px;
    margin-top: 20px;
}

// home line search
.link-header{
    height: 1cm;
    margin-bottom: -10px;
}

.link-header .link-group ul{
  float:left;
  margin-left: 15px;
}

.link-header .link-group ul>a{
    color:#212121;
    font-size: 15px;
    font-family: 'Muli-Regular';
}

.link-header .link-group ul>a:hover,
.link-header .link-group ul>a:focus{
    color:#00BCD4;
    text-decoration: none;
}

.link-header .search-input{
    border:none;
}

.link-header .search-button{
    border:none;
    background-color: white;
}

.link-header .search{
    position: absolute;
    right:20%;
}


  /* Carousel base class */
  .carousel {
    height: auto;
    margin-bottom: 30px;
    margin-top:10px;
    width:100%

  }

  .carousel .item {
    height: auto;
  }

  .carousel-inner > .item > img {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }



// footer

.footer1{
  margin-top:1cm;
}

.information{
    width:90%;
    margin:0 auto;
}

.information  li{
    list-style: none;
    display: block;
    margin-top: 10px;

}

  .display3{
      margin-bottom: 60px;
  }

  .infor-left a, .infor-left p{
      font-family: 'Lato-Regular';
      font-size: 13px;
      color: #999;
      margin: 0;
      font-weight: 500;
      line-height: 1.1;

  }

  .infor-left a:hover,
  .infor-left a:focus,
  .infor-left li a:hover,
  .infor-left li a:focus{
      text-decoration:none;
  }

  .infor-left a:hover,
  .infor-left a:focus,
  .infor-left li a p:hover,
  .infor-left li a p:focus{
      color:#00BCD4;
  }

  .infor-left h3{
        font-family: 'BreeSerif-Regular';
        margin-left:40px;
        margin-bottom: 30px;
  }

  .infor-left  img {
      display: inline-block;	//图片和链接文字显示在同一行
      margin-right: 10px; //图片和链接文字拉开一点距离
      width: 30px; //定制图片宽度
      height: 30px; //定制图片高度
  }

  .copyright {
      display: inline-block;
  }
  .copyright .input-group{
      width:40%;
      margin-bottom: 20px;
      margin-left: 60px;
      margin-top:10px;
  }

  .copyright .footer-right p{
     margin-top: 18px;
     right: 10%;
     position: absolute;
  }





//product

  .products li{
      list-style: none;
      font-family: 'BreeSerif-Regular';
      font-size: 17px;
      font-weight: 500;
      line-height: 1.1;
      text-align: center;
      margin-top: 10px;

  }

  .product-each{
      margin-top:40px;
  }

  .product-each img:hover,
  .product-each img:focus{
      opacity: 0.7;
  }

  .product-each li:hover,
  .product-each li:focus{
      color:#00BCD4;
}


//modal

   .modal-header{
     font-size: 90px;
     color:white;
     height: 2.5cm;
     text-align: center;
     background-color: #546E7A;
  }

  .modal-dialog {
    width:10cm;
    position: relative;
    left:25%;
    margin: 10px;
}

  .modal .btn{
      width:4cm;
      background-color:#546E7A;
      color:white;
  }
