<br>
<br>
<footer>
  <div class="information">
      <div class="infor-header">
        <div class="col-md-3 infor-left">
          <h3>Follow Us</h3>
          <ul>
            <li><a href="#"><%= image_tag('fb.png')%>Facebook</a></li>
            <li><a href="#"><%= image_tag('twitter.png')%>Twitter</a></li>
            <li><a href="#"><%= image_tag('google.png')%>Google+</a></li>
          </ul>
        </div>
        <div class="col-md-3 infor-left">
          <h3>Information</h3>
          <ul>
            <li><a href="#"><p>Specials</p></a></li>
            <li><a href="#"><p>New Products</p></a></li>
            <li><a href="#"><p>Our Stores</p></a></li>
            <li><a href="#"><p>Contact Us</p></a></li>
            <li><a href="#"><p>Top Sellers</p></a></li>
          </ul>
        </div>
        <div class="col-md-3 infor-left">
          <h3>My Account</h3>
          <ul>
            <li><a href="#"><p>My Account</p></a></li>
            <li><a href="#"><p>My Credit slips</p></a></li>
            <li><a href="#"><p>My Merchandise returns</p></a></li>
            <li><a href="#"><p>My Personal info</p></a></li>
            <li><a href="#"><p>My Addresses</p></a></li>
          </ul>
        </div>
        <div class="col-md-3 infor-left">
          <h3>Company</h3>
          <ul>
            <li><p>Twatch.com</p></li>
            <li><p>393 DongLing Street, Beijing</p></li>
            <li><p>010 123 326 999</p></li>
            <li><p>info@twatch.com</p></li>

          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>


  <div class="line"></div>

    <div class="copyright">
        <div class="col-md-7 footer-left">
          <form>
            <div class="input-group">
              <input type="email" class="form-control" size="30" placeholder="Enter Your Email" required>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-5 footer-right">
          <p>Copyright ©2017 Twatch  Design by liaoshiwei & liutao </p>
        </div>
        <div class="clearfix"></div>
    </div>
</footer>
